altgraph==0.10.2
arrow==0.5.4
auth.credential==1.0
backports.ssl-match-hostname==3.4.0.2
bdist-mpkg==0.5.0
bibtexparser==0.6.2
bonjour-py==0.3
configparser==3.3.0.post2
cssselect==0.9.1
DateTime==4.0.1
decorator==3.4.0
feedparser==5.1.3
gnureadline==6.3.3
hashlib==20081119
html2text==2015.2.18
html5lib==0.9999999
HTMLParser==0.0.2
ipython==2.1.0
iso8601==0.1.10
itsdangerous==0.24
jieba==0.33
Jinja2==2.7.3
macholib==1.5.1
Markdown==2.4.1
MarkupSafe==0.23
matplotlib==1.3.1
mercurial==3.0.1
modulegraph==0.10.4
mongo==0.2.0
mysql-connector-python==1.2.3
ndg-httpsclient==0.4.0
networkx==1.9
nltk==2.0.4
nose==1.3.7
numpy==1.8.0rc1
pandas==0.15.2
Pillow==2.8.1
psycopg2==2.6.1
py==1.4.26
py2app==0.7.3
pyasn1==0.1.7
pymongo==3.2
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
pytribe==0.1.1
pytz==2013.7
PyYAML==3.11
pyzmq==14.5.0
qiniu==7.0.4
queuelib==1.1.1
reportlab==3.1.8
requests==2.6.0
scikit-learn==0.15.2
scipy==0.13.0b1
Scrapy==0.24.2
six==1.4.1
Theano==0.7.0
tinycss==0.3
tornado==3.2.1
virtualenv==1.11.6
w3lib==1.10.0
Werkzeug==0.9.6
WTForms==2.0.2
xattr==0.6.4
xlrd==0.9.3
xpinyin==0.5.3
zope.interface==4.1.1
