{% extends "main_base.html" %} {% block main %}
<main>
        <div class="container main-margin">    
            <div class="row">
                <div class="col-md-12">
                    <h2>About Us</h2>
                    <hr>
                    <div class="row">                  
                        <div class="col-md-9">
                            {{ aboutcontent }}                      
                        <hr>
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    {% end %}