<main>
        <div class="container main-margin">    
            <div class="row">
                <div class="col-md-8">
                    <hr>
                    <div class="row">                  
                        <div class="col-md-9">
                            <div class="paper-feed">
                            <a href="#"><h4>{{ result['title'] }}</h4></a>
                           <div class="user-profile">
                            <img src="../../../static/images/avatar/avatar-1.svg" alt="" class="img-circle">
                            <a href="/user/{{ result['user_id'] }}"><h4>{{ result['user']['username'] }}</h4></a>
                        </div>
                            <p>{{ result['content'] }}</p>
                        </div>
                        
                        <hr>
                        </div>
                        <div class="col-md-3">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>