<main>
        <div class="container main-margin">    
            <div class="row">
                <div class="col-md-8">
                    <hr>
                    <div class="row">
                        <div class="paper-feed">
                        <div class="col-md-3">
                            <img src="../../../static/images/avatar/avatar-1.svg" alt="" class="img-circle">
                            <h4>Wong</h4>
                        </div>
                        <div class="col-md-9">
                            <h4>Computing of Interface Aesthetic</h4>
                            <p>Here is a placeholder</p>
                        </div>
                        <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>