{% extends "main_base.html" %} {% block main %}
<main>
    <div class="container main-margin">
        <div class="row">
            <div class="col-md-9">
                <h5>Paper Feed</h5>
                <hr>
                {% for item in paper %}
                <div class="row">                    
                    <div class="paper-feed">
                        <div class="col-md-2">
                            <div class="feed-profile-fix">
                                <img src="{{ item['user']['avatar'] }}" alt="avatar" class="img-circle paper-feed-avatar">
                                <a href="/user/{{ item['user']['user_id'] }}">
                                    <h5>{{ item['user']['username'] }}</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <a href="/paper/{{ item['paper_id'] }}">
                                <h4>{{ item['title'] }}</h4>
                            </a>
                            <p>{{ item['content'] }}</p>
                            <div class="paper-feed-time"><span>Revise Time: {{ item['reviseTime'] }}</span><span>Create Time: {{ item['createTime'] }}</span></div>
                        </div>
                    </div>
                </div>
                <hr>
                {% end %}
                <nav>
                    <ul class="pagination pagination-lg">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <aside class="paper-feed-aside">
                <h5>Tags</h5>
                <br>
                <ul class="nav nav-pills nav-stacked">
  <li class="nav-item">
    <a href="#" class="nav-link active">Active</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">Link</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link">Another link</a>
  </li>
</ul>
</aside>
            </div>
        </div>
    </div>
</main>
{% end %}