{% extends "main_base.html" %}
{% block main %}
<main>
        <div class="container main-margin">
            <!--
            <div class="row">
                <div class="col-md-4">
                    
                <div class="card">
                    
                    <img class="card-img-top" src="{{ static_url('images/desk-stuff.jpg') }}" alt="Card image cap" style="witdh:353px;">
                    
                    <div class="card-block">
                        <h4 class="card-title">Visual Complexity Test</h4>
                        <p class="card-text">Compare your visual preferences to people around the world. This experiment takes around 10 minutes.</p>
                        <a href="/aesthetic/statement" class="btn btn-primary">Join</a>
                    </div>
                </div> 
                </div>    
                    </div>   -->       
            <div class="row">
                <div class="col-md-8">
                    <hr>
                    <div class="row">
                        <div class="paper-feed">
                        <div class="col-md-3">
                            <img src="../../../static/images/avatar/avatar-1.svg" alt="" class="img-circle">
                            <a href="/user/"><h4>Wong</h4></a>
                        </div>
                        <div class="col-md-9">
                            <h4>Computing of Interface Aesthetic</h4>
                            <p>Here is a placeholder</p>
                        </div>
                        <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% end %}