{% extends "main_base.html" %} 
{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ static_url("simditor/styles/simditor.css") }}" />
{% end %}
{% block main %}
<main>
    <div class="container main-margin">
        <div class="row">
            <div class="col-md-3">

                <div class="user-profile">
                    <img src="{{ userProfile['avatar'] }}" alt="" class="img-circle">
                    <h4>{{ userProfile['username'] }}</h4>
                    <h6>{{ userProfile['position'] }}</h6>
                    <a href="mailto:{{ userProfile['email'] }}"><h6>{{ userProfile['email']}}</h6></a>
                    
                </div>
            </div>
            <div class="col-md-9">
            {% if handler.signedid == userProfile['user_id'] %}
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="add-abstract-button">Add</button>
            {% end %}
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Close</span>
                                            </button>
                                <h4 class="modal-title" id="myModalLabel">Add Abstract</h4>
                            </div>
                            <form action="/paper/{{ handler.signedid }}/commit" method="POST">
                                <div class="modal-body container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset class="form-group">
                                                <input id="paper-id" class="col-md-9 form-control" type="hidden" name="pid" value="">
                                            </fieldset>     

                                            <fieldset class="form-group">
                                                <textarea id="editor paper-content" class="col-md-9 form-control" rows="10" placeholder="Paper Content" name="content" upload="True" pasteImage="True"></textarea>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr> 
                {% for item in paperList %}
                <div class="paper-feed">
                    <a href="#">
                        <h4>{{ item['title'] }}</h4>
                    </a>
                    <p>{{ item['content'] }}</p>
                    <div class="paper-feed-time"><span>Revise Time: {{ item['reviseTime'] }}</span><span>Create Time: {{ item['createTime'] }}</span><a href="#" class="pull-right paper-feed-revise" data-toggle="modal" data-target="#myModal" data-pid="{{ item['paper_id'] }}">Revise</a></div>
                    <hr>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</main>

{% end %}
{% block customJS %}
<script type="text/javascript" src="{{static_url("simditor/scripts/module.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/hotkeys.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/uploader.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/simditor.js")}}"></script>
<script>
$(function(){
    toolbar = [ 'title', 'bold', 'italic', 'underline', 'strikethrough',
            'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|',
            'link', 'image', 'hr', '|', 'indent', 'outdent' ];
    var editor = new Simditor( {
        textarea : $('#editor'),
        placeholder : '这里输入内容...',
        toolbar : toolbar,  //工具栏
        defaultImage : '/static/simditor/images/image.png', //编辑器插入图片时使用的默认图片
        upload : {
            url : '/upload', //文件上传的接口地址
            params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
            fileKey: 'fileDataFileName', //服务器端获取文件数据的参数名
            connectionCount: 3,
            leaveConfirm: '正在上传文件'
        }
    });
   })
{% end %}