{% extends "main_base.html" %} {% block main %}
<main>
    <div class="container main-margin">
        <div class="row">
            <div class="col-md-3">

                <div class="user-profile">
                    <img src="{{ userProfile['avatar'] }}" alt="" class="img-circle">
                    <h4>{{ userProfile['username'] }}</h4>
                    <h6>{{ userProfile['position'] }}</h6>
                    <a href="mailto:{{ userProfile['email'] }}"><h6>{{ userProfile['email']}}</h6></a>
                    
                </div>
            </div>
            <div class="col-md-9">
            {% if handler.signedid == userProfile['user_id'] %}
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="add-abstract-button">Add</button>
            {% end %}
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Close</span>
                                            </button>
                                <h4 class="modal-title" id="myModalLabel">Add Abstract</h4>
                            </div>
                            <form action="/paper/{{ handler.signedid }}/commit" method="POST">
                                <div class="modal-body container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset class="form-group">
                                                <input id="paper-id" class="col-md-9 form-control" type="hidden" name="pid" value=''>
                                            </fieldset>
                                            
                                            <fieldset class="form-group">
                                                <input id="paper-title" class="col-md-9 form-control" type="text" placeholder="Paper Title" name="title">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <input id="paper-author" class="col-md-9 form-control" type="text" placeholder="Paper Author" name="author">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <input id="paper-pubdate" class="col-md-9 form-control" type="text" placeholder="Paper Publish Date:YYYY" name="pubdate">
                                            </fieldset>

                                            <fieldset class="form-group">
                                                <textarea id="paper-content" class="col-md-9 form-control" row="10" placeholder="Paper Content" name="content"></textarea>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr> 
                {% for item in paperList %}
                <div class="paper-feed">
                    <a href="#">
                        <h4>{{ item['title'] }}</h4>
                    </a>
                    <p>{{ item['content'] }}</p>
                    <div class="paper-feed-time"><span>Revise Time: {{ item['reviseTime'] }}</span><span>Create Time: {{ item['createTime'] }}</span><a href="#" class="pull-right paper-feed-revise" data-toggle="modal" data-target="#myModal" data-pid="{{ item['paper_id'] }}">Revise</a></div>
                    <hr>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</main>

{% end %}
{% block customJS %}
<script src="{{ static_url('scripts/paperevise.js') }}"></script>
{% end %}