{% extends "admin_base.html" %}
{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ static_url('simditor/styles/simditor.css') }}" />
{% end %}
{% block main %}
<form action="/admin/aboutus" method="POST">
  <div class="row">
    <div class="col-md-12">
      <fieldset class="form-group">
        <textarea id="editor" class="paper-content" rows="10" placeholder="About Us" name="content" upload="True" pasteImage="True">{{ aboutcontent }}</textarea>
      </fieldset>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% end %}
{% block customJS %}
<script type="text/javascript" src="{{static_url("simditor/scripts/module.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/hotkeys.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/uploader.js")}}"></script>
<script type="text/javascript" src="{{static_url("simditor/scripts/simditor.js")}}"></script>
<script>
$(function(){
    toolbar = [ 'title', 'bold', 'italic', 'underline', 'strikethrough',
            'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|',
            'link', 'image', 'hr', '|', 'indent', 'outdent' ];
    var editor = new Simditor( {
        textarea : $('#editor'),
        placeholder : '这里输入内容...',
        toolbar : toolbar,  //工具栏
        defaultImage : '/static/simditor/images/image.png', //编辑器插入图片时使用的默认图片
        upload : {
            url : '/upload', //文件上传的接口地址
            params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
            fileKey: 'fileDataFileName', //服务器端获取文件数据的参数名
            connectionCount: 3,
            leaveConfirm: '正在上传文件'
        }
    });
   })
   </script>
{% end %}