{% extends "admin_base.html" %}
{% block main %}
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Mail to</th>
      <th>Role</th>
      <th>Authenication</th>
    </tr>
  </thead>
  <tbody>
      {% for item in userList %}
    <tr>
      <td>{{ item['username'] }}</td>
      <td><a href="mailto:{{ item['email'] }}">{{ item['email'] }}</a></td>
      <td>
      <select class="form-control" id="role-select" data-uid="{{ item['user_id'] }}">
      <option {% if item['role'] == 1 %} selected {% end %}>1</option>
      <option {% if item['role'] == 2 %} selected {% end %}>2</option>
      <option {% if item['role'] == 3 %} selected {% end %}>3</option>
    </select>
      </td>
      <td>
        <select class="form-control" id="auth-select" data-uid="{{ item['user_id'] }}">
      <option {% if item['authenication'] == True %} selected {% end %}>Ture</option>
      <option {% if item['authenication'] == False %} selected {% end %}>False</option>
    </select>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %}
{% block customJS %}
<script src="{{ static_url('scripts/admin-index.js') }}"></script>
{% end %}